<!DOCTYPE html>
<html lang="en">
<head>
    <title>IT Shop</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C500%2C600%2C700%2C800%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="/assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="/assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/assets/vendor/animate.css">
    <link rel="stylesheet" href="/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/assets/vendor/fancybox/jquery.fancybox.css">

    <!-- CSS Template -->
    <link rel="stylesheet" href="/assets/css/styles.op-event.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>
<main>
    <!-- Header v1 -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance g-z-index-9999"
            data-header-fix-moment="100">
        <div class="light-theme u-header__section g-bg-darkblue-opacity-0_7 g-transition-0_3 g-py-10"
             data-header-fix-moment-exclude="light-theme g-bg-darkblue-opacity-0_7"
             data-header-fix-moment-classes="dark-theme u-shadow-v18 g-bg-white-opacity-0_9">
            <nav class="navbar navbar-expand-lg g-py-0">
                <div class="container g-pos-rel">
                    <!-- Logo -->
                    <a href="/" class="js-go-to navbar-brand u-header__logo"
                       data-type="static">
                        <img class="u-header__logo-img u-header__logo-img--main d-block image-responsive" src="/images/finki_mk.png" alt="Image description" style="height:50px"
                             data-header-fix-moment-exclude="d-block"
                             data-header-fix-moment-classes="d-none">

                        <img class="u-header__logo-img u-header__logo-img--main d-none" style="height:50px" src="/images/finki_b.png" alt="Image description"
                             data-header-fix-moment-exclude="d-none"
                             data-header-fix-moment-classes="d-block">
                    </a>
                    <!-- End Logo -->

                    <!-- Navigation -->
                    <div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
                        <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 g-pt-20 g-pt-5--lg ml-auto">

                            <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg"  th:each="category : ${categories}">
                                <a th:href="${category.id}" class="nav-link p-0" th:text="${category.name}">Почетна</a>
                            </li>

                            <li>
                                <a href="/shoppingcart"><i class="fa fa-thermometer-full" aria-hidden="true"></i> КОШНИЧКА</a>
                            </li>



                            <li class="nav-item g-ml-15--lg">
                                <a href="#contact" class="nav-link p-0">Контакт</a>
                            </li>

                            <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item g-ml-15--lg"><a class="" th:text="${#authentication.principal.name}"
                                                                                                                          href="javascript:void(0);">{{'login'|translate}}</a></li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item g-ml-15--lg"><a class="cd-signup" href="/logout">Logout</a></li>
                            <li th:if="${#authorization.expression('!isAuthenticated()')}" class="nav-item g-ml-15--lg"><a class="cd-signup" href="/login">Login</a></li>

                        </ul>
                    </div>
                    <!-- End Navigation -->

                    <!-- Responsive Toggle Button --><button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-15 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false"
                            aria-controls="navBar"
                            data-toggle="collapse"
                            data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header v1 -->

    <div th:replace="${view} :: content"></div>

    <a class="js-go-to rounded-0 u-go-to-v1" href="#!"
       data-type="fixed"
       data-position='{
           "bottom": 15,
           "right": 15
         }'
       data-offset-top="400"
       data-compensation="#js-header"
       data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
</main>

<!-- JS Global Compulsory -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="/assets/vendor/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="/assets/vendor/appear.js"></script>
<script src="/assets/vendor/jquery.countdown.min.js"></script>
<script src="/assets/vendor/fancybox/jquery.fancybox.js"></script>
<script src="/assets/vendor/slick-carousel/slick/slick.js"></script>
<script src="/assets/vendor/gmaps/gmaps.min.js"></script>

<script src="/assets/js/hs.core.js"></script>
<script src="/assets/js/components/hs.header.js"></script>
<script src="/assets/js/helpers/hs.hamburgers.js"></script>
<script src="/assets/js/components/hs.scroll-nav.js"></script>
<script src="/assets/js/components/hs.tabs.js"></script>
<script src="/assets/js/components/hs.countdown.js"></script>
<script src="/assets/js/components/hs.carousel.js"></script>
<script src="/assets/js/components/gmap/hs.map.js"></script>
<script src="/assets/js/components/hs.go-to.js"></script>

<!-- JS Customization -->
<script src="/assets/js/custom.js"></script>

<!-- JS Plugins Init. -->
<script>

    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        // $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of countdowns
        var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
            yearsElSelector: '.js-cd-years',
            monthElSelector: '.js-cd-month',
            daysElSelector: '.js-cd-days',
            hoursElSelector: '.js-cd-hours',
            minutesElSelector: '.js-cd-minutes',
            secondsElSelector: '.js-cd-seconds'
        });
    });

    $(window).on('load', function() {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
            duration: 700
        });

    });


</script>

</body>
</html>
