<div th:fragment="content">
    <section id="home" class="g-bg-img-hero g-pos-rel  g-pt-100"
    >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Register new User</h1>
                    <form action="#" th:action="@{/register}" th:object="${user}"  th:method="post">
                        <p>Username: <input class="form-control" type="text" name="username"/></p>
                        <p>Password: <input class="form-control" type="password" name="password" /></p>
                        <p>Name: <input class="form-control" type="text" name="name"/></p>
                        <p>Surname: <input class="form-control" type="text" name="surname"/></p>
                        <p>User Role:
                            <select class="form-control" th:field="*{role.id}">
                                <option th:each="userRole : ${userRoles}" th:value="${{userRole.id}}"
                                        th:text="${userRole.name}">-User Role-
                                </option>
                            </select>
                        </p>
                        <p><input class="btn btn-success" type="submit" value="Submit"/>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>