<div th:fragment="content">

    <!-- Section Content -->
    <section id="guests" class="g-py-100" style="margin-top:100px">
        <div class="container">
            <div class="text-center g-mb-70">
                <h1 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-mb-30">
                    <span th:text="'Резултати од пребарување по клучен збор:'+${searchText}"></span>
                    <span class="g-font-weight-400 g-font-size-40">|</span>
                    <span class="g-color-primary"></span></h1>

                <p></p>
            </div>
        </div>

        <div class="js-carousel u-carousel-v1 u-carousel-v3 g-pb-50"
             data-infinite="true"
             data-center-mode="true"
             data-center-padding="20px"
             data-slides-show="3"
             data-focus-on-select="true"
             data-arrows-classes="u-arrow-v1 g-absolute-centered--x g-bottom-0 g-width-40 g-height-40 g-font-size-20 g-color-white g-bg-primary g-bg-black--hover g-transition-0_2 g-transition--ease-in"
             data-arrow-left-classes="fa fa-angle-left g-ml-minus-25"
             data-arrow-right-classes="fa fa-angle-right g-ml-30"
             data-responsive='[{
               "breakpoint": 1200,
               "settings": {
                 "slidesToShow": 3
               }
             }, {
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 1,
                 "centerPadding": "100px"
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 1,
                 "centerPadding": "60px"
               }
             }, {
               "breakpoint": 576,
               "settings": {
                 "slidesToShow": 1,
                 "centerPadding": "40px"
               }
             }]'>
            <div th:each="device : ${devices}" class="js-slide g-parent g-px-15 g-pb-30">
                <article>
                    <a th:href="'/device/'+${device.id}">
                        <img class="img-fluid width-100" th:src="'/rest/device/image/'+${device.id}"
                             alt="Image description">

                        <div class="u-shadow-v24--active g-pa-30">
                            <header class="text-uppercase g-mb-20">
                                <h3 class="g-font-weight-700 g-font-size-14 g-mb-5" th:text="${device.name}"></h3>
                                <h4 class="g-font-weight-700 g-font-size-11 g-color-primary mb-0"
                                    th:text="${device.manufacturer.name}"></h4>
                            </header>

                            <p class="g-mb-20" th:text="${device.description}"></p>


                        </div>
                    </a>
                </article>
            </div>
        </div>

    </section>

</div>